#sentiment_analyzer_ft
#Resources
TestScripts/log.html
TestScripts/output.xml
TestScripts/report.html
TestScripts/selenium-screenshot*.png
TestScripts/logs_reports_outputfiles/*
!/log.html
!/output.xml
!/report.html
!/TestScripts/logs/
