robotframework~=6.0.2
robotframework-seleniumlibrary
robotframework-requests
robotframework-datadriver
robotframework-pythonlibcore
openpyxl
numpy
requests
confluent-kafka
python-dateutil
prometheus-client==0.16.0